body {
    /* height: 100vh; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-content: space-around; */
    /* align-items: center; */
}
.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vh;
}
.title {
    background-color: lightblue;
    font-size: 50px;
    /* border: none; */
}

.players-turn {
    background-color: lightgreen;
    font-size: 40px;
    margin-top: 5px;
}

.middle {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    /* align-content: space-around; */
    width: 100vh;
    height: 630px;
    margin-top: 15px;
    margin-bottom: 10px;
    background-color: blue;
    /* margin-bottom: 5px; */
}

.X-side{
    background-color: lightcoral;
    align-self: flex-start;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
    height: 100%;
    width: 20%;
}

.board { 
    background-color: black;
    /* align-content: flex-start; */
    display: flex;
    flex-direction: row;
    align-content: space-around;
    flex-wrap: wrap;
    height: 630px;
    width: 770px;
    /* gap: 0;
    margin: 0; */
 }
 .A1{
    background-color: brown;
    /* align-self: center; */
    /* justify-content: flex-start; */
    height: 200px;
    width: 200px;
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 10px;
    border-right: solid black;
    border-width: 0;
 }
.B1{
    background-color: blue;
    height: 200px;
    width: 200px;
    margin-top: 5px;
    margin-right: 10px;
    border-width: 0;
 } 
.C1{
    background-color: green;
    height: 200px;
    width: 200px;
    margin-top: 5px;
    border-width: 0;
 } 
 .A2{
    background-color: orange;
    align-self: flex-start;
    /* justify-content: flex-end; */
    height: 200px;
    width: 200px;
    margin-left: 10px;
    margin-right: 10px;
    border-width: 0;
    /* border-right: solid black;
    border-width: 10px; */
 }
 .B2{
    background-color: purple;
    align-self: flex-start;
    /* justify-content: flex-end; */
    height: 200px;
    width: 200px;
    margin-right: 10;
    border-width: 0;
 }
 .C2{
    background-color: teal;
    align-self: flex-start;
    /* justify-content: flex-end; */
    height: 200px;
    width: 200px;
    margin-left: 10px;
    border-width: 0;
 }
 .A3{
    background-color: maroon;
    align-self: flex-start;
    /* justify-content: flex-end; */
    height: 200px;
    width: 200px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    border-width: 0;
    /* border-right: solid black;
    border-width: 10px; */
 }
 .B3{
    background-color: magenta;
    align-self: flex-start;
    /* justify-content: flex-end; */
    height: 200px;
    width: 200px;
    margin: 0;
    border-width: 0;
 }
 .C3{
    background-color: indianred;
    align-self: flex-start;
    /* justify-content: flex-end; */
    height: 200px;
    width: 200px;
    margin-left: 10px;
    border-width: 0;
 }
 .O-side{
    background-color: pink;
    align-self: flex-end;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10px;
    height: 100%;
    width: 20%;
 }

.bottom {
    display: flex;
    flex-direction: row;
    align-self: start;
    width: 100vh;
}
 .instructions {
    background-color: lightsalmon;
    height: 200px;

 }

 /* edit size of img's so that they are not to big on page */
 /*  elements expand to far when expanding chrome - need to fix eventually */